<div class="row my-5">
    <div class="col-sm-6 offset-sm-3 py-5">
        <div class="card">
            <h3 class="card-header bg-primary text-white text-center py-4">
                <strong>ACI Payment Gateway</strong>
            </h3>
            <div class="card-body px-lg-5 pt-0">
                <form ng-submit="makePayment()" ng-controller="MakePaymentController">
                    <fieldset>
                        <div class="form-group row">
                            <label for="customerID" class="col-sm-4 col-form-label">FULL NAME</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="payment.customerID" class="form-control-plaintext"
                                       id="customerID"
                                       placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-sm-4 col-form-label">PHONE</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext" id="phone"
                                       placeholder="Phone" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="GPID" class="col-sm-4 col-form-label">GPID</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="payment.GPID" class="form-control-plaintext" id="GPID"
                                       placeholder="GPID" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="amount" class="col-sm-4 col-form-label">AMOUNT</label>
                            <div class="col-sm-8">
                                <input type="number" ng-model="payment.amount" class="form-control-plaintext"
                                       id="amount"
                                       placeholder="Amount" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-4 col-form-label">ADDITIONAL COMMENTS</label>
                            <div class="col-sm-8">
                                <textarea ng-model="payment.description" class="form-control-plaintext"
                                          id="description" placeholder="Additional Comments"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="col-sm-6 offset-sm-3 btn btn-success">Proceed</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
