<div class="row my-5">
    <div class="col-sm-6 offset-sm-3 py-5" ng-controller="DisplayPaymentStatusController" ng-init="initStatus()">
        <div class="card">
            <h3 ng-show="status.isPaymentSuccess" class="card-header bg-success text-white text-center py-4">
                <strong>Payment Status: SUCCESS</strong>
            </h3>
            <h3 ng-show="status.isPaymentPending" class="card-header bg-warning text-white text-center py-4">
                <strong>Payment Status: PENDING</strong>
            </h3>
            <h3 ng-show="status.isPaymentFailed" class="card-header bg-danger text-white text-center py-4">
                <strong>Payment Status: FAILED</strong>
            </h3>
            <div class="card-body px-lg-5 pt-4">
                <table class="col-sm-12" style="font-size: 16px;">
                    <tbody>
                    <tr>
                        <th ng-model="status.datetime" scope="row">Transaction Time:</th>
                        <th>{{status.datetime}}</th>
                    </tr>
                    <tr>
                        <th ng-model="status.description" scope="row">Description:</th>
                        <th>{{status.description}}</th>
                    </tr>
                    <tr>
                        <th ng-model="status.refID" scope="row">Reference ID:</th>
                        <th>{{status.refID}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <a class="col-sm-6 offset-sm-3 btn btn-primary my-5" href="#!/form" role="button">Payment Home</a>
    </div>
</div>
